.input {
    display: block;
    width: 400px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    border: 1px solid;
    border-color: inherit;
    background-color: #ffffff;
    margin: 10px 10px;
}

.container {
    padding:0.01em 16px;
    margin-top:16px;
    margin-bottom:16px;
}